<section class="our-job section container">
    <div class="job">
        <h2 class="job-title">Что делают аналитики</h2>
        <ul class="job__menu">
            <li class="job__item">Исследуют поведение пользователей</li>
            <li class="job__item">Исследуют рынки присутствия и новые рынки</li>
            <li class="job__item">Анализируют каналы привлечения новой аудитории</li>
             <li class="job__item">Организуют создание новых инструментов и контролируют существующие</li>
            <li class="job__item">Оценивают финансовую выгоду новых инструментов</li>
            <li class="job__item">Организуют модернизацию существующих инструментов</li>
        </ul>
    </div>
</section>