.our-job {
  background-color: rgb(245, 245, 245);
  color: rgb(0, 0, 0);
  }
.job {
    padding: 20px 15px;
}
  .job-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .job__menu {
   display: flex;
  }

