.our-job {
  background-color: whitesmoke;
  color: black;
  }
.job {
    padding: 20px 15px;
}
  .job-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
  }

  .job__menu {
   display: flex;
  }

